# Configuración inicial 
SECRET_KEY=ultra-secure-pos-key-change-it
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
POS_PIN_TOKEN_EXPIRE_MINUTES=15
DATABASE_URL=sqlite:///./advanced_pos.db # (para cuando el compañero lo implemente)
